/application/config/database.php
/application/config/constants.php

.htaccess
.settings/*
.buildpath
/application/ci_session/*
/home/ci_session/*
!/assets/uikit/dist/*
/assets/uikit/*
/assets/adimages/*