@charset "UTF-8";
/* CSS Document */
/* reset.css V1.6  Start*/
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td { font-weight: normal; margin: 0; padding: 0; }

body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, i { font: normal 12px "Helvetica Neue", "Microsoft YaHei", Helvetica, STHeiTi, sans-serif; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }

ul, ol, li { list-style: none; }

a { text-decoration: none; color: #333; }

a:hover { text-decoration: none; }

img { vertical-align: top; border: 0; }

button, input, textarea { font-size: 100%; vertical-align: middle; outline: none; border-radius: 0; -webkit-appearance: none; }

table { border-spacing: 0; border-collapse: collapse; }

div, a { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

html { font-size: 16px; }

@media screen and (min-width: 360px) { html { font-size: 112.5px; } }

@media screen and (min-width: 375px) { html { font-size: 117.1875px; } }

@media screen and (min-width: 414px) { html { font-size: 129.375px; } }

@media screen and (min-width: 480px) { html { font-size: 150px; } }

@media screen and (min-width: 640px) { html { font-size: 16px; } }

.clearfloat:after { font-size: 0; display: block; visibility: hidden; clear: both; height: 0; content: ' '; }

.clearfloat { *zoom: 1; }

.clearboth { clear: both; }

.wp { width: 1000px; margin: 0 auto; }

.checkBrowser { font-size: 14px; line-height: 40px; position: fixed; z-index: 99999; top: 0; left: 50%; width: 700px; height: 40px; margin-left: -360px; padding: 0 10px; color: #FFF; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: #E6212A; }

.checkBrowser a { font-size: 16px; line-height: 20px; position: absolute; top: 10px; right: 5px; display: block; width: 20px; height: 20px; cursor: pointer; text-align: center; color: #333; border-radius: 50%; background-color: #FFF; }

@font-face { font-family: "iconfont"; src: url("../font/iconfont.eot"); /* IE9*/ src: url("../font/iconfont.eot#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); /* iOS 4.1- */ }

@font-face { font-family: "Atwood"; src: url("../font/Atwood.ttf"); src: url("../font/Atwood.svg"); src: url("../font/Atwood.woff"); }

@font-face { font-family: "P22"; src: url("../font/P22JohnstonUnderground-Regular.eot"); src: url("../font/P22JohnstonUnderground-Regular.svg"); src: url("../font/P22JohnstonUnderground-Regular.ttf"); src: url("../font/P22JohnstonUnderground-Regular.woff"); }

.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-guangzhou:before { content: "\e64b"; }

.icon-youjian:before { content: "\e705"; }

.icon-shouji:before { content: "\e61f"; }

.icon-book:before { content: "\e60d"; }

.icon-pinpai3x:before { content: "\e60b"; }

.icon-qianbitou22eps:before { content: "\e62a"; }

.icon-iconfontjianjie:before { content: "\e63a"; }

.icon-gangqin1:before { content: "\e60c"; }

.icon-dizhi:before { content: "\e630"; }

.icon-xinweiloushu:before { content: "\e774"; }

.icon-shouye:before { content: "\e604"; }

.icon-weixin3:before { content: "\e84c"; }

.icon-book1:before { content: "\e60f"; }

.icon-dianhua:before { content: "\e641"; }

.icon-bi:before { content: "\e649"; }

.icon-weixin-copy-copy:before { content: "\e603"; }

.icon-icon6:before { content: "\e602"; }

.icon-address:before { content: "\e6a7"; }

.icon-wangzhi:before { content: "\e662"; }

.icon-1111119:before { content: "\e614"; }

.icon-weixin4:before { content: "\e620"; }

.icon-erji:before { content: "\e68f"; }

.icon-shuangjiantou-copy:before { content: "\e606"; }

.icon-sousuo-sousuo:before { content: "\e600"; }

.icon-youjian1:before { content: "\e60a"; }

.icon-huidingbu:before { content: "\e613"; }

.animated { -webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes fadeInUp { 0% { opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
         transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;
    -moz-transform: none;
         transform: none; } }

@keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
       -moz-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInLeft { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes fadeInLeft { 0% { opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
         transform: translate3d(-100%, 0, 0); }
  100% { opacity: 1;
    -moz-transform: none;
         transform: none; } }

@keyframes fadeInLeft { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none; } }

@-webkit-keyframes fadeInRight { 0% { opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes fadeInRight { 0% { opacity: 0;
    -moz-transform: translate3d(100%, 0, 0);
         transform: translate3d(100%, 0, 0); }
  100% { opacity: 1;
    -moz-transform: none;
         transform: none; } }

@keyframes fadeInRight { 0% { opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none; } }

@-webkit-keyframes rotateIn { 0% { -webkit-transform-origin: center; transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% { -webkit-transform-origin: center; transform-origin: center;
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

@-moz-keyframes rotateIn { 0% { -moz-transform-origin: center; transform-origin: center;
    -moz-transform: rotate3d(0, 0, 1, -200deg);
         transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% { -moz-transform-origin: center; transform-origin: center;
    -moz-transform: none;
         transform: none;
    opacity: 1; } }

@keyframes rotateIn { 0% { -webkit-transform-origin: center; -moz-transform-origin: center; transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
       -moz-transform: rotate3d(0, 0, 1, -200deg);
            transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% { -webkit-transform-origin: center; -moz-transform-origin: center; transform-origin: center;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
    opacity: 1; } }

@-webkit-keyframes fadeInDown { 0% { opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-moz-keyframes fadeInDown { 0% { opacity: 0;
    -moz-transform: translate3d(0, -100%, 0);
         transform: translate3d(0, -100%, 0); }
  100% { opacity: 1;
    -moz-transform: none;
         transform: none; } }

@keyframes fadeInDown { 0% { opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
       -moz-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none; } }

@-webkit-keyframes zoomIn { 0% { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }

@-moz-keyframes zoomIn { 0% { opacity: 0;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
         transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }

@keyframes zoomIn { 0% { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
       -moz-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }

.zoomIn { -webkit-animation-name: zoomIn; -moz-animation-name: zoomIn; animation-name: zoomIn; }

.fadeInDown { -webkit-animation-name: fadeInDown; -moz-animation-name: fadeInDown; animation-name: fadeInDown; }

.rotateIn { -webkit-animation-name: rotateIn; -moz-animation-name: rotateIn; animation-name: rotateIn; }

.fadeInLeft { -webkit-animation-name: fadeInLeft; -moz-animation-name: fadeInLeft; animation-name: fadeInLeft; }

.fadeInUp { -webkit-animation-name: fadeInUp; -moz-animation-name: fadeInUp; animation-name: fadeInUp; }

.fadeInRight { -webkit-animation-name: fadeInRight; -moz-animation-name: fadeInRight; animation-name: fadeInRight; }

/* reset.css V1.6  End */
.container { margin-right: auto; margin-left: auto; }

.container::after, .container::before { display: table; content: ""; }

.container::after { clear: both; }

.container-fluid { margin-right: auto; margin-left: auto; }

.container-fluid::after, .container-fluid::before { display: table; content: ""; }

.container-fluid::after { clear: both; }

.g-row::after, .g-row::before { display: table; content: ""; }

.g-row::after { clear: both; }

@media (min-width: 768px) { .container { width: 750px; } }

@media (min-width: 992px) { .container { width: 970px; } }

@media (min-width: 1200px) { .container { width: 1170px; } }

@media (max-width: 767px) { .g-col-xs-1 { float: left; width: 4.16667%; }
  .g-col-xs-offset-1 { margin-left: 4.16667%; }
  .g-col-xs-2 { float: left; width: 8.33333%; }
  .g-col-xs-offset-2 { margin-left: 8.33333%; }
  .g-col-xs-3 { float: left; width: 12.5%; }
  .g-col-xs-offset-3 { margin-left: 12.5%; }
  .g-col-xs-4 { float: left; width: 16.66667%; }
  .g-col-xs-offset-4 { margin-left: 16.66667%; }
  .g-col-xs-5 { float: left; width: 20.83333%; }
  .g-col-xs-offset-5 { margin-left: 20.83333%; }
  .g-col-xs-6 { float: left; width: 25%; }
  .g-col-xs-offset-6 { margin-left: 25%; }
  .g-col-xs-7 { float: left; width: 29.16667%; }
  .g-col-xs-offset-7 { margin-left: 29.16667%; }
  .g-col-xs-8 { float: left; width: 33.33333%; }
  .g-col-xs-offset-8 { margin-left: 33.33333%; }
  .g-col-xs-9 { float: left; width: 37.5%; }
  .g-col-xs-offset-9 { margin-left: 37.5%; }
  .g-col-xs-10 { float: left; width: 41.66667%; }
  .g-col-xs-offset-10 { margin-left: 41.66667%; }
  .g-col-xs-11 { float: left; width: 45.83333%; }
  .g-col-xs-offset-11 { margin-left: 45.83333%; }
  .g-col-xs-12 { float: left; width: 50%; }
  .g-col-xs-offset-12 { margin-left: 50%; }
  .g-col-xs-13 { float: left; width: 54.16667%; }
  .g-col-xs-offset-13 { margin-left: 54.16667%; }
  .g-col-xs-14 { float: left; width: 58.33333%; }
  .g-col-xs-offset-14 { margin-left: 58.33333%; }
  .g-col-xs-15 { float: left; width: 62.5%; }
  .g-col-xs-offset-15 { margin-left: 62.5%; }
  .g-col-xs-16 { float: left; width: 66.66667%; }
  .g-col-xs-offset-16 { margin-left: 66.66667%; }
  .g-col-xs-17 { float: left; width: 70.83333%; }
  .g-col-xs-offset-17 { margin-left: 70.83333%; }
  .g-col-xs-18 { float: left; width: 75%; }
  .g-col-xs-offset-18 { margin-left: 75%; }
  .g-col-xs-19 { float: left; width: 79.16667%; }
  .g-col-xs-offset-19 { margin-left: 79.16667%; }
  .g-col-xs-20 { float: left; width: 83.33333%; }
  .g-col-xs-offset-20 { margin-left: 83.33333%; }
  .g-col-xs-21 { float: left; width: 87.5%; }
  .g-col-xs-offset-21 { margin-left: 87.5%; }
  .g-col-xs-22 { float: left; width: 91.66667%; }
  .g-col-xs-offset-22 { margin-left: 91.66667%; }
  .g-col-xs-23 { float: left; width: 95.83333%; }
  .g-col-xs-offset-23 { margin-left: 95.83333%; }
  .g-col-xs-24 { float: left; width: 100%; }
  .g-col-xs-offset-24 { margin-left: 100%; } }

@media (min-width: 768px) { .g-col-sm-1 { float: left; width: 4.16667%; }
  .g-col-sm-offset-1 { margin-left: 4.16667%; }
  .g-col-sm-2 { float: left; width: 8.33333%; }
  .g-col-sm-offset-2 { margin-left: 8.33333%; }
  .g-col-sm-3 { float: left; width: 12.5%; }
  .g-col-sm-offset-3 { margin-left: 12.5%; }
  .g-col-sm-4 { float: left; width: 16.66667%; }
  .g-col-sm-offset-4 { margin-left: 16.66667%; }
  .g-col-sm-5 { float: left; width: 20.83333%; }
  .g-col-sm-offset-5 { margin-left: 20.83333%; }
  .g-col-sm-6 { float: left; width: 25%; }
  .g-col-sm-offset-6 { margin-left: 25%; }
  .g-col-sm-7 { float: left; width: 29.16667%; }
  .g-col-sm-offset-7 { margin-left: 29.16667%; }
  .g-col-sm-8 { float: left; width: 33.33333%; }
  .g-col-sm-offset-8 { margin-left: 33.33333%; }
  .g-col-sm-9 { float: left; width: 37.5%; }
  .g-col-sm-offset-9 { margin-left: 37.5%; }
  .g-col-sm-10 { float: left; width: 41.66667%; }
  .g-col-sm-offset-10 { margin-left: 41.66667%; }
  .g-col-sm-11 { float: left; width: 45.83333%; }
  .g-col-sm-offset-11 { margin-left: 45.83333%; }
  .g-col-sm-12 { float: left; width: 50%; }
  .g-col-sm-offset-12 { margin-left: 50%; }
  .g-col-sm-13 { float: left; width: 54.16667%; }
  .g-col-sm-offset-13 { margin-left: 54.16667%; }
  .g-col-sm-14 { float: left; width: 58.33333%; }
  .g-col-sm-offset-14 { margin-left: 58.33333%; }
  .g-col-sm-15 { float: left; width: 62.5%; }
  .g-col-sm-offset-15 { margin-left: 62.5%; }
  .g-col-sm-16 { float: left; width: 66.66667%; }
  .g-col-sm-offset-16 { margin-left: 66.66667%; }
  .g-col-sm-17 { float: left; width: 70.83333%; }
  .g-col-sm-offset-17 { margin-left: 70.83333%; }
  .g-col-sm-18 { float: left; width: 75%; }
  .g-col-sm-offset-18 { margin-left: 75%; }
  .g-col-sm-19 { float: left; width: 79.16667%; }
  .g-col-sm-offset-19 { margin-left: 79.16667%; }
  .g-col-sm-20 { float: left; width: 83.33333%; }
  .g-col-sm-offset-20 { margin-left: 83.33333%; }
  .g-col-sm-21 { float: left; width: 87.5%; }
  .g-col-sm-offset-21 { margin-left: 87.5%; }
  .g-col-sm-22 { float: left; width: 91.66667%; }
  .g-col-sm-offset-22 { margin-left: 91.66667%; }
  .g-col-sm-23 { float: left; width: 95.83333%; }
  .g-col-sm-offset-23 { margin-left: 95.83333%; }
  .g-col-sm-24 { float: left; width: 100%; }
  .g-col-sm-offset-24 { margin-left: 100%; } }

@media (min-width: 992px) { .g-col-md-1 { float: left; width: 4.16667%; }
  .g-col-md-offset-1 { margin-left: 4.16667%; }
  .g-col-md-2 { float: left; width: 8.33333%; }
  .g-col-md-offset-2 { margin-left: 8.33333%; }
  .g-col-md-3 { float: left; width: 12.5%; }
  .g-col-md-offset-3 { margin-left: 12.5%; }
  .g-col-md-4 { float: left; width: 16.66667%; }
  .g-col-md-offset-4 { margin-left: 16.66667%; }
  .g-col-md-5 { float: left; width: 20.83333%; }
  .g-col-md-offset-5 { margin-left: 20.83333%; }
  .g-col-md-6 { float: left; width: 25%; }
  .g-col-md-offset-6 { margin-left: 25%; }
  .g-col-md-7 { float: left; width: 29.16667%; }
  .g-col-md-offset-7 { margin-left: 29.16667%; }
  .g-col-md-8 { float: left; width: 33.33333%; }
  .g-col-md-offset-8 { margin-left: 33.33333%; }
  .g-col-md-9 { float: left; width: 37.5%; }
  .g-col-md-offset-9 { margin-left: 37.5%; }
  .g-col-md-10 { float: left; width: 41.66667%; }
  .g-col-md-offset-10 { margin-left: 41.66667%; }
  .g-col-md-11 { float: left; width: 45.83333%; }
  .g-col-md-offset-11 { margin-left: 45.83333%; }
  .g-col-md-12 { float: left; width: 50%; }
  .g-col-md-offset-12 { margin-left: 50%; }
  .g-col-md-13 { float: left; width: 54.16667%; }
  .g-col-md-offset-13 { margin-left: 54.16667%; }
  .g-col-md-14 { float: left; width: 58.33333%; }
  .g-col-md-offset-14 { margin-left: 58.33333%; }
  .g-col-md-15 { float: left; width: 62.5%; }
  .g-col-md-offset-15 { margin-left: 62.5%; }
  .g-col-md-16 { float: left; width: 66.66667%; }
  .g-col-md-offset-16 { margin-left: 66.66667%; }
  .g-col-md-17 { float: left; width: 70.83333%; }
  .g-col-md-offset-17 { margin-left: 70.83333%; }
  .g-col-md-18 { float: left; width: 75%; }
  .g-col-md-offset-18 { margin-left: 75%; }
  .g-col-md-19 { float: left; width: 79.16667%; }
  .g-col-md-offset-19 { margin-left: 79.16667%; }
  .g-col-md-20 { float: left; width: 83.33333%; }
  .g-col-md-offset-20 { margin-left: 83.33333%; }
  .g-col-md-21 { float: left; width: 87.5%; }
  .g-col-md-offset-21 { margin-left: 87.5%; }
  .g-col-md-22 { float: left; width: 91.66667%; }
  .g-col-md-offset-22 { margin-left: 91.66667%; }
  .g-col-md-23 { float: left; width: 95.83333%; }
  .g-col-md-offset-23 { margin-left: 95.83333%; }
  .g-col-md-24 { float: left; width: 100%; }
  .g-col-md-offset-24 { margin-left: 100%; } }

@media (min-width: 1200px) { .g-col-lg-1 { float: left; width: 4.16667%; }
  .g-col-lg-offset-1 { margin-left: 4.16667%; }
  .g-col-lg-2 { float: left; width: 8.33333%; }
  .g-col-lg-offset-2 { margin-left: 8.33333%; }
  .g-col-lg-3 { float: left; width: 12.5%; }
  .g-col-lg-offset-3 { margin-left: 12.5%; }
  .g-col-lg-4 { float: left; width: 16.66667%; }
  .g-col-lg-offset-4 { margin-left: 16.66667%; }
  .g-col-lg-5 { float: left; width: 20.83333%; }
  .g-col-lg-offset-5 { margin-left: 20.83333%; }
  .g-col-lg-6 { float: left; width: 25%; }
  .g-col-lg-offset-6 { margin-left: 25%; }
  .g-col-lg-7 { float: left; width: 29.16667%; }
  .g-col-lg-offset-7 { margin-left: 29.16667%; }
  .g-col-lg-8 { float: left; width: 33.33333%; }
  .g-col-lg-offset-8 { margin-left: 33.33333%; }
  .g-col-lg-9 { float: left; width: 37.5%; }
  .g-col-lg-offset-9 { margin-left: 37.5%; }
  .g-col-lg-10 { float: left; width: 41.66667%; }
  .g-col-lg-offset-10 { margin-left: 41.66667%; }
  .g-col-lg-11 { float: left; width: 45.83333%; }
  .g-col-lg-offset-11 { margin-left: 45.83333%; }
  .g-col-lg-12 { float: left; width: 50%; }
  .g-col-lg-offset-12 { margin-left: 50%; }
  .g-col-lg-13 { float: left; width: 54.16667%; }
  .g-col-lg-offset-13 { margin-left: 54.16667%; }
  .g-col-lg-14 { float: left; width: 58.33333%; }
  .g-col-lg-offset-14 { margin-left: 58.33333%; }
  .g-col-lg-15 { float: left; width: 62.5%; }
  .g-col-lg-offset-15 { margin-left: 62.5%; }
  .g-col-lg-16 { float: left; width: 66.66667%; }
  .g-col-lg-offset-16 { margin-left: 66.66667%; }
  .g-col-lg-17 { float: left; width: 70.83333%; }
  .g-col-lg-offset-17 { margin-left: 70.83333%; }
  .g-col-lg-18 { float: left; width: 75%; }
  .g-col-lg-offset-18 { margin-left: 75%; }
  .g-col-lg-19 { float: left; width: 79.16667%; }
  .g-col-lg-offset-19 { margin-left: 79.16667%; }
  .g-col-lg-20 { float: left; width: 83.33333%; }
  .g-col-lg-offset-20 { margin-left: 83.33333%; }
  .g-col-lg-21 { float: left; width: 87.5%; }
  .g-col-lg-offset-21 { margin-left: 87.5%; }
  .g-col-lg-22 { float: left; width: 91.66667%; }
  .g-col-lg-offset-22 { margin-left: 91.66667%; }
  .g-col-lg-23 { float: left; width: 95.83333%; }
  .g-col-lg-offset-23 { margin-left: 95.83333%; }
  .g-col-lg-24 { float: left; width: 100%; }
  .g-col-lg-offset-24 { margin-left: 100%; } }

@media (max-width: 767px) { .g-xs-hidden { display: none !important; }
  .g-xs-show { display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) { .g-sm-hidden { display: none !important; }
  .g-sm-show { display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) { .g-md-hidden { display: none !important; }
  .g-md-show { display: block !important; } }

@media (min-width: 1200px) { .g-lg-hidden { display: none !important; }
  .g-lg-show { display: block !important; } }

* { -moz-box-sizing: border-box; box-sizing: border-box; }

.site-banner { width: 100%; height: 580px; background-repeat: no-repeat; background-position: center; background-size: cover; }

.mo-banner { display: none; width: 100%; padding-top: 76.1%; background-repeat: no-repeat; background-position: center; background-size: cover; }

.site-navbar { position: absolute; top: 0; left: 0; right: 0; z-index: 10; }

.navber-pc { position: relative; }

.navber-pc .navbar-logo { display: inline-block; width: 110px; padding-top: 20px; padding-bottom: 20px; }

.navber-pc .navbar-logo img { max-width: 100%; }

.navber-pc .navbar-list { float: right; height: 80px; font-size: 15px; line-height: 80px; }

.navber-pc .navbar-list .item { float: left; padding-left: 25px; padding-right: 25px; color: #fff; cursor: pointer; -webkit-transition: all .5s ease-out; -moz-transition: all .5s ease-out; transition: all .5s ease-out; }

.navber-pc .navbar-list .item:hover { -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); transform: translateY(-10px); }

.navber-pc .navbar-list .item:last-child { padding: 0; }

.navber-pc .navbar-list .item .icon-weixin3 { color: #fff; font-size: 24px; }

.navber-pc .navbar-list .item .icon-sousuo-sousuo { color: #fff; font-size: 16px; }

#pc-search { position: relative; }

#pc-search .navbar-search { visibility: hidden; opacity: 0; position: absolute; top: 20px; right: 0; width: 220px; padding: 6px 15px; font-size: 14px; height: 32px; border-radius: 15px; border: 0; -webkit-transition: all .8s ease-out; -moz-transition: all .8s ease-out; transition: all .8s ease-out; }

#pc-search:hover .navbar-search { opacity: 1; visibility: visible; }

#pc-search:hover .search-icon { display: block; }

#pc-search .search-icon { display: none; position: absolute; top: -5px; left: -14px; font-size: 20px; color: #333; }

.navbar-mo { display: none; position: relative; }

.navbar-mo .form { display: none; position: absolute; width: 100%; top: 0.45rem; padding: 5px; }

.navbar-mo .form .navbar-search { width: 100%; border: 0; padding: 5px 10px; height: 40px; line-height: 40px; font-size: 14px; border-radius: 5px; }

.navbar-mo .form .search-icon { position: absolute; top: 10px; right: 12px; font-size: 0.225rem; color: #333; }

.navbar-mo .navbar-logo { display: inline-block; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; height: 0.5rem; }

.navbar-mo .navbar-logo img { max-width: 100%; max-height: 100%; }

.navbar-mo .right { float: right; }

.navbar-mo .navbar-icon { float: left; height: 0.5rem; line-height: 0.5rem; padding-right: 0.2rem; color: #fff; }

.navbar-mo .icon-weixin3 { font-size: 0.225rem; }

.navbar-mo .icon-sousuo-sousuo { font-size: 0.175rem; }

.service { position: relative; padding-top: 210px; padding-bottom: 130px; }

.service .service-title { padding-bottom: 40px; }

.service .num { font-size: 68px; font-family: 'Atwood'; }

.service .name { font-size: 36px; font-family: 'Atwood'; }

.service .service-icon { border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; margin-bottom: 70px; font-size: 0; }

.service .icon-box { cursor: pointer; display: inline-block; width: 33.3%; text-align: center; }

.service .icon-box:hover .icon { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }

.service .icon-box .icon { -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; display: inline-block; width: 75px; height: 85px; background-size: 100%; background-repeat: no-repeat; background-position: center; }

.service .icon-box p { padding-top: 5px; font-size: 20px; font-family: 'Atwood'; }

.service .service-desc p { font-size: 12px; line-height: 2.5; color: #949393; padding-bottom: 20px; }

.san-con { position: absolute; top: 0; left: 50%; z-index: 10; }

.san-con .san-box { cursor: pointer; width: 14rem; height: 10rem; background-repeat: no-repeat; background-size: cover; }

.san-con .san-box:hover .icon { opacity: 1; }

.san-con .san-box01 { position: absolute; top: -0.65rem; left: 0.1rem; }

.san-con .san-box01 .icon { -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; opacity: 0; position: absolute; height: 50%; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.san-con .san-box02 { position: absolute; top: 0.45rem; left: 0.1rem; }

.san-con .san-box02 .icon { -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; opacity: 0; position: absolute; height: 50%; top: 0; left: 0; right: 0; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); margin: auto; }

.san-con .san-box03 { position: absolute; top: 0.45rem; left: 0.95rem; }

.san-con .san-box03 .icon { -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; opacity: 0; position: absolute; height: 50%; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.san-con .san-box04 { position: absolute; top: 1.55rem; left: 0.95rem; }

.san-con .san-box04 .icon { -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; transition: all 1s ease-out; opacity: 0; position: absolute; height: 50%; top: 0; left: 0; right: 0; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); margin: auto; }

.san-title { position: absolute; top: -40px; right: 0; }

.san-title .num { font-size: 68px; font-family: 'Atwood'; }

.san-title .name { font-family: 'Atwood'; font-size: 36px; }

.section { position: relative; margin-bottom: 120px; }

.section .box { overflow: hidden; padding-right: 5%; }

.section .section-img { -webkit-transition: all .8s ease-out; -moz-transition: all .8s ease-out; transition: all .8s ease-out; height: 500px; background-repeat: no-repeat; background-size: cover; background-position-x: right; }

.section .section-img:hover { opacity: .8; -webkit-transform: translateY(-30px); -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); transform: translateY(-30px); }

.section .right { float: left; width: 580px; height: 500px; }

.section .section-desc { padding-top: 30px; padding-right: 124px; }

.section .section-desc p { line-height: 1.5; padding-bottom: 20px; color: #949393; }

.section .section-float { position: absolute; top: 112px; left: 46%; font-size: 36px; font-family: "P22"; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); -webkit-writing-mode: vertical-lr; writing-mode: vertical-lr; -ms-writing-mode: tb-lr; }

.section2 { position: relative; margin-bottom: 120px; }

.section2 .box { float: right; width: 50%; padding-left: 5%; overflow: hidden; }

.section2 .section-img { -webkit-transition: all .8s ease-out; -moz-transition: all .8s ease-out; transition: all .8s ease-out; height: 500px; background-repeat: no-repeat; background-size: cover; }

.section2 .section-img:hover { opacity: .8; -webkit-transform: translateX(-30px); -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); transform: translateX(-30px); }

.section2 .left { position: relative; float: right; width: 580px; height: 500px; }

.section2 .section-desc { padding-top: 100px; padding-left: 124px; }

.section2 .section-desc p { line-height: 1.5; padding-bottom: 20px; color: #949393; }

.section2 .section-float2 { position: absolute; top: 112px; left: 60px; font-size: 36px; font-family: "P22"; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; }

.section2 .section-float3 { display: none; position: absolute; top: 32px; left: 0; font-size: 6vw; font-family: "P22"; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; }

.case-title { text-align: right; padding-bottom: 35px; }

.case-title .num { font-family: 'Atwood'; font-size: 68px; }

.case-title .word { padding-right: 10px; font-family: 'Atwood'; font-size: 34px; }

@media (max-width: 767px) { .case-title { padding-bottom: 25px; }
  .case-title .num { font-size: 0.34rem; }
  .case-title .word { padding-right: 20px; font-size: 0.18rem; } }

.word-swiper { padding-bottom: 60px; margin-bottom: 40px; }

.word-swiper .swiper-slide { width: 27.5%; }

.word-swiper .item-img { position: relative; width: 100%; padding-top: 64.8%; }

.word-swiper .item-img > img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.word-swiper .item-img:hover .item-mark-white { visibility: visible; opacity: 1; }

.word-swiper .swiper-scrollbar { left: 20px; right: 20px; max-width: 1200px; width: 100%; margin: auto; }

.word-swiper .swiper-scrollbar .swiper-scrollbar-drag { background-color: #686868; }

.item-mark-white { cursor: pointer; visibility: hidden; opacity: 0; z-index: 10; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(255, 255, 255, 0.85); -webkit-transition: all .8s ease-out; -moz-transition: all .8s ease-out; transition: all .8s ease-out; }

.item-mark-white .mark-img { position: absolute; top: 50%; left: 50%; width: 30%; height: 30%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.item-mark-white .mark-desc { position: absolute; bottom: 20px; width: 100%; text-align: center; font-size: 16px; color: #6d6d6d; }

@media (max-width: 767px) { .word-swiper { padding-bottom: 35px; } }

.case-con { position: relative; margin-bottom: 160px; }

.case-con .case-prev { display: none; cursor: pointer; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: -8%; width: 2%; height: 7.5%; z-index: 10; background-image: url("../images/left.png"); background-repeat: no-repeat; background-size: 100%; }

.case-con .case-next { display: none; cursor: pointer; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: -7%; width: 2%; height: 7.5%; z-index: 10; background-image: url("../images/right.png"); background-repeat: no-repeat; background-size: 100%; }

.case-swiper .item-img { float: left; cursor: pointer; }

.case-swiper .item-mark { -webkit-transition: all .5s ease-out; -moz-transition: all .5s ease-out; transition: all .5s ease-out; visibility: hidden; opacity: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.7); }

.case-swiper .item-mark .mark-img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-width: 50%; }

.case-swiper .item-mark p { -webkit-transition: all .5s ease-out; -moz-transition: all .5s ease-out; transition: all .5s ease-out; overflow: hidden; position: absolute; bottom: 20px; width: 80%; text-align: center; left: 10%; font-size: 16px; color: #000; }

.case-swiper .bg { position: relative; background-position: center; background-repeat: no-repeat; background-size: cover; }

.case-swiper .bg:hover .item-mark { visibility: visible; opacity: 1; }

.case-swiper .item-img01 { width: 40%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img01 .item-bg { width: 100%; padding-top: 152.71%; }

.case-swiper .item-img02 { width: 60%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img02 .item-bg { width: 100%; padding-top: 100%; }

.case-swiper .item-img03 { width: 60%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img03 .item-bg { width: 100%; padding-top: 100%; }

.case-swiper .item-img04 { width: 40%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img04 .item-bg { width: 100%; padding-top: 152.71%; }

.case-swiper .item-img05 { width: 100%; padding-bottom: 10px; padding-right: 10px; }

.case-swiper .item-img05 .item-bg { width: 100%; padding-top: 58.33%; }

.case-swiper .item-img06 { width: 100%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img06 .item-bg { width: 100%; padding-top: 74%; }

.case-swiper .item-img07 { width: 100%; padding-right: 10px; }

.case-swiper .item-img07 .item-bg { width: 100%; padding-top: 151%; }

.case-swiper .item-img08 { width: 100%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img08 .item-bg { width: 100%; padding-top: 202%; }

.case-swiper .item-img09 { width: 100%; padding-right: 10px; padding-bottom: 10px; }

.case-swiper .item-img09 .item-bg { width: 100%; padding-top: 100%; }

@media (min-width: 1350px) { .case-con .case-prev { display: block; }
  .case-con .case-next { display: block; } }

@media (max-width: 767px) { .case-con { padding-left: 10px; margin-bottom: 50px; }
  .case-swiper .item-img { float: left; cursor: pointer; }
  .case-swiper .bg { background-position: center; background-repeat: no-repeat; background-size: cover; }
  .case-swiper .item-img01 { width: 20%; padding-bottom: 2px; }
  .case-swiper .item-img01 .item-bg { padding-top: 210.1%; }
  .case-swiper .item-img02 { width: 40%; }
  .case-swiper .item-img03 { width: 40%; }
  .case-swiper .item-img04 { width: 30%; }
  .case-swiper .item-img04 .item-bg { padding-top: 143.71%; }
  .case-swiper .item-img05 { width: 70%; }
  .case-swiper .item-img08 .item-bg { padding-top: 223%; } }

.mo-footer { display: none; position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; }

.mo-footer .con { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -moz-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; border-top: 1px solid #e1e1e1; background-color: #fafafa; color: #666; }

.mo-footer .box { -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -ms-flex: 1; flex: 1; border-left: 1px solid #e1e1e1; padding-top: 0.115rem; padding-bottom: 0.115rem; }

.mo-footer .box:first-child { border-left: 0; }

.mo-footer .title { font-size: 14px; }

.mo-footer .iconfont { font-size: 0.25rem; vertical-align: middle; }

.num-word { text-align: center; padding-bottom: 115px; }

.num-word .box { position: relative; padding-top: 50px; padding-bottom: 50px; }

.num-word .num { font-size: 35px; font-family: "Atwood"; color: #323232; vertical-align: middle; }

.num-word .word { font-size: 20px; font-family: "Atwood"; color: #6f6f6f; vertical-align: middle; }

.num-word .img01 { position: absolute; top: 0; left: 0; }

.num-word .img02 { position: absolute; left: 0; bottom: 0; }

.num-word .img03 { position: absolute; top: 0; right: 0; }

.num-word .img04 { position: absolute; bottom: 0; right: 0; }

.num-word .left { position: absolute; top: 0; left: 0; }

.num-word .right { position: absolute; top: 0; right: 0; }

.num-word .top { position: absolute; bottom: 0; left: 0; }

.num-word .bottom { position: absolute; right: 0; bottom: 0; }

.mo-num-word { display: none; position: relative; text-align: center; margin-left: 0.15rem; margin-right: 0.15rem; margin-bottom: 50px; }

.mo-num-word .box { position: relative; padding-top: 20px; padding-bottom: 20px; }

.mo-num-word .num { font-size: 34px; color: #323232; font-family: "Atwood"; }

.mo-num-word .word { font-size: 17px; color: #6f6f6f; font-family: "Atwood"; }

.mo-num-word .img01 { position: absolute; top: 0; left: 0; }

.mo-num-word .img02 { position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.mo-num-word .img03 { position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

.mo-num-word .img04 { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.mo-num-word .img05 { position: absolute; top: 0; right: 0; }

.mo-num-word .img06 { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.mo-num-word .img07 { position: absolute; bottom: 0; left: 0; }

.mo-num-word .img08 { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.mo-num-word .img09 { position: absolute; bottom: 0; right: 0; }

.contact { position: relative; margin-bottom: 120px; overflow: hidden; }

.contact .box { padding-right: 5%; }

.contact .contact-img { -webkit-transition: all .8s ease-out; -moz-transition: all .8s ease-out; transition: all .8s ease-out; height: 570px; background-repeat: no-repeat; background-size: cover; background-position-x: right; }

.contact .contact-img:hover { opacity: .9; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.contact .right { float: left; width: 580px; height: 570px; }

.contact .contact-title { padding-top: 75px; padding-bottom: 80px; }

.contact .contact-title .num { font-size: 68px; font-family: 'Atwood'; }

.contact .contact-title .name { font-size: 36px; font-family: 'Atwood'; }

.contact .mo-title { display: none; padding-left: 20px; }

.contact .mo-title .num { font-size: 0.34rem; font-family: 'Atwood'; }

.contact .mo-title .name { font-size: 0.18rem; font-family: 'Atwood'; }

.contact-icon .icon-box { float: left; width: 50%; height: 55px; margin-bottom: 25px; line-height: 55px; }

.contact-icon .iconfont { color: #777; font-size: 26px; vertical-align: middle; }

.contact-icon .desc { vertical-align: middle; padding-left: 30px; font-size: 18px; font-family: 'Atwood'; color: #777; }

.contact-icon .icon-shouji { font-size: 32px; }

.contact-icon .icon-dizhi { float: left; font-size: 30px; vertical-align: baseline; }

.contact-icon .desc01 { float: left; font-size: 15px; line-height: 1.5; width: 160px; color: #777; margin-top: 10px; margin-left: 35px; }

.copyright { margin-bottom: 100px; text-align: center; color: #8a8a8a; font-family: 'Atwood'; font-size: 18px; }

@media (max-width: 1199px) { .section { margin-bottom: 0.6rem; }
  .section .box { padding-right: 10%; }
  .section .section-img { height: 0; padding-top: 58.8%; }
  .section .right { float: none; width: 100%; height: auto; }
  .section .section-desc { padding-top: 0.2rem; padding-left: 0.275rem; padding-right: 10%; }
  .section .section-desc p { font-size: 14px; line-height: 2.5; padding-bottom: 20px; }
  .section .section-float { position: absolute; top: 32px; right: 2vw; left: auto; font-size: 6vw; font-family: "P22"; }
  .section2 { margin-bottom: 0.6rem; }
  .section2 .box { float: none; width: 100%; padding-left: 10%; }
  .section2 .section-img { padding-top: 58.8%; height: 0; }
  .section2 .left { float: none; width: 100%; height: auto; }
  .section2 .section-desc { padding-top: 0.2rem; padding-right: 0.275rem; padding-left: 10%; }
  .section2 .section-desc p { font-size: 14px; line-height: 2.5; padding-bottom: 20px; }
  .section2 .section-float2 { display: none; }
  .section2 .section-float3 { display: block; } }

@media (max-width: 1199px) { .contact { margin-bottom: 0.6rem; }
  .contact .box { padding-right: 10%; }
  .contact .contact-img { height: 0; padding-top: 67%; }
  .contact .right { float: none; width: 100%; height: auto; }
  .contact .contact-title { display: none; }
  .contact .mo-title { display: block; }
  .contact-icon { padding-top: 0.225rem; padding-left: 0.225rem; padding-right: 10%; } }

@media (max-width: 767px) { .contact { margin-bottom: 20px; }
  .contact-icon .icon-box { float: left; width: 100%; margin-bottom: 10px; } }

@media (max-width: 767px) { .copyright { margin-left: 10px; margin-right: 10px; text-align: center; font-size: 12px; } }

@media (max-width: 992px) { .service { position: relative; padding-top: 440px; }
  .san-con { position: absolute; top: 0; left: 35%; z-index: 10; }
  .san-title { position: absolute; top: 0; right: 2%; }
  .san-title .num { font-size: 50px; }
  .san-title .name { font-size: 26px; } }

@media (max-width: 767px) { .service { position: relative; padding-top: 2.25rem; }
  .san-con { position: absolute; top: 25px; left: 25%; z-index: 10; }
  .san-title { position: absolute; top: 0; right: 2%; }
  .san-title .num { font-size: 0.34rem; }
  .san-title .name { font-size: 0.18rem; } }

@media (max-width: 767px) { .service { padding-left: 0.25rem; padding-right: 0.325rem; padding-bottom: 45px; }
  .service .service-title { padding-bottom: 0.225rem; }
  .service .num { font-size: 0.34rem; }
  .service .name { font-size: 0.18rem; }
  .service .service-icon { margin-bottom: 0.275rem; font-size: 0; }
  .service .icon-box p { font-size: 16px; } }

.goto-top { cursor: pointer; display: none; z-index: 99; position: fixed; right: 140px; bottom: 145px; }

.noscroll { overflow: hidden; }

.home-pop { visibility: hidden; z-index: 999; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); }

.home-pop .pop-con { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; height: 100%; max-height: 900px; max-width: 1200px; background-color: #fff; }

.home-pop .pop-box { height: 100%; overflow-y: scroll; padding-bottom: 110px; }

.home-pop .pop-title { padding-top: 90px; padding-bottom: 60px; padding-right: 50px; }

.home-pop .pop-title .right { float: right; }

.home-pop .pop-title img { max-width: 280px; max-height: 100px; }

.home-pop .pop-title .sub-title { margin-top: 10px; margin-left: 10px; font-size: 16px; }

.home-pop .pop-about { padding-left: 15%; margin-bottom: 15px; font-size: 15px; }

.home-pop .pop-about .title { font-weight: bold; color: #333; }

.home-pop .pop-about .name { color: #777; }

.home-pop .pop-desc { padding-top: 10px; padding-left: 15%; padding-right: 28%; }

.home-pop .pop-desc p { line-height: 2; color: #949393; }

.home-pop .pop-close { display: none; cursor: pointer; position: absolute; top: 0; right: -60px; width: 60px; height: 200px; background-image: url("../images/pop-close.jpg"); background-size: cover; background-repeat: no-repeat; }

.home-pop .pop-mo-close { z-index: 10; cursor: pointer; position: absolute; top: -0.325rem; right: 0; width: 1.25rem; height: 0.325rem; background-image: url("../images/pop-mo-close.jpg"); background-size: 100%; }

.home-pop .pop-mo-top { float: right; width: 56px; height: 50px; margin-right: 30px; background-image: url("../images/pop-top.png"); background-size: 100%; }

.home-pop .pop-tags .pop-desc { display: none; }

.home-pop .pop-tags .pop-desc:first-child { display: block; }

.pop-article p { max-width: 1000px; margin: 0 auto; color: #949393; line-height: 2; margin-bottom: 20px; }

.pop-article p img { max-width: 100%; height: auto; }

.pop-swiper { position: relative; padding-left: 15%; padding-top: 50px; }

.pop-swiper .item-img { max-width: 100%; }

.pop-swiper .pop-left { cursor: pointer; z-index: 10; position: absolute; bottom: -4.5%; right: 15%; width: 1.8%; height: 8%; background-image: url("../images/pop-left.png"); background-repeat: no-repeat; background-size: 100%; }

.pop-swiper .pop-right { cursor: pointer; z-index: 10; position: absolute; bottom: -4.5%; right: 9%; width: 1.8%; height: 8%; background-image: url("../images/pop-right.png"); background-repeat: no-repeat; background-size: 100%; }

.pop-section1 { margin-top: 110px; }

.pop-section1 .box { float: right; width: 50%; }

.pop-section1 .section-img { position: relative; height: 350px; }

.pop-section1 .section-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.pop-section1 .left { float: right; width: 550px; }

.pop-section1 .section-desc { padding-top: 40px; padding-left: 60px; padding-right: 60px; }

.pop-section1 .section-desc p { color: #949393; line-height: 2.5; }

.pop-section2 { margin-top: 110px; }

.pop-section2 .box { float: left; width: 50%; }

.pop-section2 .section-img { position: relative; height: 350px; }

.pop-section2 .section-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.pop-section2 .right { float: left; width: 550px; }

.pop-section2 .section-desc { padding-top: 40px; padding-left: 60px; padding-right: 60px; }

.pop-section2 .section-desc p { color: #949393; line-height: 2.5; }

@media (max-width: 1135px) { .pop-section1 { margin-top: 0.4rem; }
  .pop-section1 .box { float: none; width: 100%; padding-left: 10%; }
  .pop-section1 .section-img { height: 0; padding-top: 65%; }
  .pop-section1 .left { float: none; width: 100%; padding-left: 10%; height: auto; }
  .pop-section1 .section-desc { padding: 0; padding-top: 0.3rem; padding-right: 0.2rem; }
  .pop-section1 .section-desc p { font-size: 14px; line-height: 2; padding-bottom: 20px; } }

@media (max-width: 1135px) { .pop-section2 { margin-top: 0.4rem; }
  .pop-section2 .box { float: none; width: 100%; padding-right: 10%; }
  .pop-section2 .section-img { height: 0; padding-top: 65%; background-size: cover; }
  .pop-section2 .right { float: none; width: 100%; padding-right: 10%; height: auto; }
  .pop-section2 .section-desc { padding: 0; padding-top: 0.25rem; padding-left: 0.175rem; }
  .pop-section2 .section-desc p { font-size: 14px; line-height: 2; padding-bottom: 20px; }
  .home-pop .pop-con { margin-top: 0.325rem; } }

@media (max-width: 767px) { .home-pop .pop-title { padding-top: 0.45rem; padding-bottom: 0.25rem; padding-right: 0.25rem; }
  .home-pop .pop-title img { max-width: 1.4rem; max-height: 0.5rem; }
  .home-pop .pop-about { padding-left: 10%; margin-bottom: 10px; }
  .home-pop .pop-desc { padding-right: 0.25rem; padding-top: 20px; padding-left: 10%; }
  .home-pop .pop-desc p { font-size: 14px; }
  .home-pop .pop-left { bottom: -5.5%; right: 15%; width: 4%; height: 17%; }
  .home-pop .pop-right { bottom: -5.5%; right: 3.5%; width: 4%; height: 17%; }
  .pop-swiper { padding-left: 10%; padding-top: 0.225rem; padding-bottom: 0.1rem; } }

.two-pop { display: none; z-index: 100; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); }

.two-pop .two-pop-con { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; height: 100%; max-width: 500px; max-height: 500px; background-color: #fff; }

.two-pop .two-pop-con img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-width: 100%; max-height: 100%; }

.two-pop .pop-close { cursor: pointer; position: absolute; top: 0; right: 0; width: 45px; height: 45px; background-color: #ccc; text-align: center; line-height: 45px; font-size: 20px; }

@media (max-width: 767px) { .two-pop .two-pop-con { width: 250px; height: 250px; }
  .two-pop .two-pop-con img { max-width: 80%; max-height: 80%; }
  .two-pop .pop-close { top: -45px; } }

.pop-box::-webkit-scrollbar { width: 5px; background-color: #f5f5f5; }

/*定义滑块，内阴影及圆角*/
.pop-box::-webkit-scrollbar-thumb { width: 5px; border-radius: 10px; box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); background-color: #555; }

.search-con { background-color: #F5F5F5; }

.search-con .search-title { margin-left: 15px; margin-bottom: 50px; margin-top: 50px; font-size: 20px; }

.search-con .search-title .back { float: right; margin-right: 15px; }

.search-con .box { margin-left: 15px; margin-right: 15px; margin-bottom: 30px; }

.search-con .box > a { display: block; width: 100%; }

.search-con .box > a:hover .img img { opacity: .7; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.search-con .box .img { position: relative; overflow: hidden; width: 100%; height: 0; padding-top: 65.07937%; }

.search-con .box .img img { -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.search-con .box .name { padding-top: 21px; height: 100px; text-align: center; background-color: #fff; }

.search-con .box .name p { color: #333; font-size: 16px; height: 79px; line-height: 79px; }

.paged { padding-top: 80px; padding-bottom: 80px; text-align: center; }

.paged > a { display: inline-block; padding: 9px 14px; border: 1px solid #dedfe1; border-radius: 3px; background-color: #f3f4f5; margin: 0 4px; font-size: 13px; }

.paged > a:hover { background-color: #333; color: #fff; border: 1px solid #333; }

.paged a.cur { background-color: #333; color: #fff; border: 1px solid #333; }

.detail-page { background-color: #333; }

.detail-page .container { background-color: #fff; padding-bottom: 120px; }

.detail-page .detail-title { padding-top: 90px; padding-right: 60px; padding-bottom: 50px; }

.detail-page .detail-title .right { float: right; }

.detail-page .detail-title img { max-width: 280px; max-height: 100px; }

.detail-page .detail-title .sub-title { margin-top: 10px; margin-left: 10px; font-size: 16px; }

.detail-page .detail-about { padding-left: 15%; margin-bottom: 15px; font-size: 15px; }

.detail-page .detail-about .title { font-weight: bold; color: #333; }

.detail-page .detail-about .name { color: #777; }

.detail-page .detail-desc { padding-top: 10px; padding-left: 15%; padding-right: 28%; }

.detail-page .detail-desc p { line-height: 2; color: #949393; }

.detail-page .detail-swiper { position: relative; padding-top: 50px; padding-left: 15%; }

.detail-page .detail-swiper .item-img { max-width: 100%; }

.detail-page .detail-left { cursor: pointer; z-index: 10; position: absolute; bottom: -10.5%; right: 15%; width: 5%; height: 18%; background-image: url("../images/left.png"); background-repeat: no-repeat; background-size: 100%; }

.detail-page .detail-right { cursor: pointer; z-index: 10; position: absolute; bottom: -10.5%; right: 9%; width: 5%; height: 18%; background-image: url("../images/right.png"); background-repeat: no-repeat; background-size: 100%; }

.detail-section1 { margin-top: 110px; }

.detail-section1 .box { float: right; width: 50%; }

.detail-section1 .section-img { position: relative; height: 350px; }

.detail-section1 .section-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.detail-section1 .left { float: right; width: 550px; height: 350px; }

.detail-section1 .section-desc { padding-top: 40px; padding-left: 60px; padding-right: 60px; }

.detail-section1 .section-desc p { color: #949393; line-height: 2.5; padding-bottom: 20px; }

.detail-section2 { margin-top: 110px; }

.detail-section2 .box { float: left; width: 50%; }

.detail-section2 .section-img { position: relative; height: 350px; }

.detail-section2 .section-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.detail-section2 .right { float: left; width: 550px; height: 350px; }

.detail-section2 .section-desc { padding-top: 40px; padding-left: 60px; padding-right: 60px; }

.detail-section2 .section-desc p { color: #949393; line-height: 2.5; padding-bottom: 20px; }

@media (max-width: 1200px) { .detail-section1 { margin-top: 0.4rem; }
  .detail-section1 .box { float: none; width: 100%; padding-left: 10%; }
  .detail-section1 .section-img { height: 0; padding-top: 65%; }
  .detail-section1 .left { float: none; width: 100%; padding-left: 10%; height: auto; }
  .detail-section1 .section-desc { padding: 0; padding-top: 0.3rem; padding-right: 0.2rem; }
  .detail-section1 .section-desc p { font-size: 14px; line-height: 2; padding-bottom: 20px; } }

@media (max-width: 1200px) { .detail-section2 { margin-top: 0.4rem; }
  .detail-section2 .box { float: none; width: 100%; padding-right: 10%; }
  .detail-section2 .section-img { height: 0; padding-top: 65%; background-size: cover; }
  .detail-section2 .right { float: none; width: 100%; padding-right: 10%; height: auto; }
  .detail-section2 .section-desc { padding: 0; padding-top: 0.25rem; padding-left: 0.175rem; }
  .detail-section2 .section-desc p { font-size: 14px; line-height: 2; padding-bottom: 20px; } }

@media (max-width: 767px) { .detail-page .detail-title { padding-top: 0.45rem; padding-bottom: 0.25rem; padding-right: 0.25rem; }
  .detail-page .detail-title img { max-width: 1.4rem; max-height: 0.5rem; }
  .detail-page .detail-about { padding-left: 10%; margin-bottom: 10px; }
  .detail-page .detail-desc { padding-right: 0.25rem; padding-top: 20px; padding-left: 10%; }
  .detail-page .detail-desc p { font-size: 14px; }
  .detail-page .detail-swiper { padding-left: 10%; padding-top: 0.225rem; padding-bottom: 0.1rem; }
  .detail-page .detail-left { bottom: -8.5%; right: 18%; width: 9%; height: 26%; }
  .detail-page .detail-right { bottom: -8.5%; right: 7%; width: 9%; height: 26%; } }

.detail-gotop { float: right; width: 75px; height: 50px; margin-top: 10px; margin-right: 10%; background-image: url("../images/pop-top.png"); background-size: 100%; }

.detail-page .detail-left { cursor: pointer; z-index: 10; position: absolute; bottom: -4.5%; right: 15%; width: 1.8%; height: 8%; background-image: url(../images/pop-left.png); background-repeat: no-repeat; background-size: 100%; }

.detail-page .detail-right { cursor: pointer; z-index: 10; position: absolute; bottom: -4.5%; right: 9%; width: 1.8%; height: 8%; background-image: url(../images/pop-right.png); background-repeat: no-repeat; background-size: 100%; }

.detail-gotop { float: right; margin-top: 50px; width: 56px; height: 50px; margin-right: 30px; background-image: url(../images/pop-top.png); background-size: 100%; }

.detail-page .pop-article { max-width: 1000px; margin: 0 auto; margin-top: 30px; font-size: 13px; }

@media (max-width: 1000px) { .pop-article { padding-left: 10px; padding-right: 10px; } }

.detail-section1 { margin-top: 60px; }

.detail-section2 { margin-top: 80px; }

@media (max-width: 767px) { .detail-page .detail-left { bottom: -5.5%; right: 15%; width: 4%; height: 17%; }
  .detail-page .detail-right { bottom: -5.5%; right: 3.5%; width: 4%; height: 17%; }
  .detail-section1 { margin-top: 0.4rem; }
  .detail-section2 { margin-top: 0.4rem; } }

#pc-search:hover { -webkit-transform: none; -moz-transform: none; -ms-transform: none; transform: none; }

#pc-search .navbar-search { top: 70px; right: -5px; }

#pc-search .search-icon { top: 45px; }

.contact-icon .desc01 { font-family: 'Atwood'; }

.case-swiper .item-mark p { color: #6d6d6d; }

/*# sourceMappingURL=style.css.map */
